.write{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.postBanner{
    width: 80%;
    object-fit:cover;
    height: 200px;
    margin: 20px 0;
    border-radius: 10px;
    
}
.writeForm{
    width: 80%;
    
}
.blogFormGroup1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   margin-top: 20px;
   
}
.uploadDiv{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.blogFile{
    display: none;
}
.fileIcon{
    margin-left: 10px;
    height: 40px;
    transition: all 0.3s ease;
    color: rgba(0,0,0,0.8);
}
.fileIcon:hover{
    cursor: pointer;
    color: rgba(0,0,0,1);
}
.upload-btn{
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 15px;
}
.upload-btn:hover{
    opacity: 1;
}
.blogTitle{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 22px;
    border: none;
    outline: none;
}
.blogTitle::placeholder,.blogText::placeholder{
   
    font-size: 22px;
}

.blogFormGroup2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   margin-top: 20px;
    
}
.textInput{
    width: 80%;
    
}

.blogText{
    width: 100%;
    padding: 5px 10px;
    height: 500px;
    border: none;
    outline: none;
    font-size: 20px;
}
.catInput{
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0;
    font-size: 20px;
}
.blogSubmit {
    margin-left: 10px;
    font-size:15px;
    font-family:Arial;
    width:100px;
    height:50px;
    border-width:1px;
    color:rgba(238, 238, 238, 1);
    border-color:rgba(48, 48, 48, 1);
    font-weight:bold;
    border-radius: 8px;
   
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    background:linear-gradient(rgba(82, 82, 82, 1), rgba(44, 46, 46, 1));
  }
  
  .blogSubmit:hover {
    background: linear-gradient(rgba(44, 46, 46, 1), rgba(82, 82, 82, 1));
  }
      

  @media screen and (max-width:575px) {

    .blogFormGroup2{
        
        flex-direction: column;
     
        
    }
    .textInput{
        width: 100%;
       
    }
    .fileIcon{
        margin-left: 0;
    }
    .blogTitle,.blogText,.catInput{
        padding: 5px 0px;
    }
    .blogSubmit{
        margin: 10px 0;
        place-self: center;
    }
    .catInput::placeholder{
        font-size: 18px;
    }
    
}